#!/usr/bin/make -f
%:
	dh $@ --with python3,gir --without autoreconf

override_dh_missing:
	dh_missing --fail-missing

override_dh_auto_configure:
	# upstream tarball is without configure. autogen.sh will create it
	NOCONFIGURE=1 ./autogen.sh
	dh_auto_configure -- \
	        --disable-silent-rules

override_dh_install:
	rm -f debian/tmp/usr/lib/*/*.la
	rm -f debian/tmp/usr/lib/*/*.a
	rm -f debian/tmp/usr/lib/*/*/*.la
	rm -f debian/tmp/usr/lib/*/*/*.a
	dh_install
