Source: kylin-display-switch
Section: utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Kylin Developers <ukui@kylinos.cn>
Uploaders: shine <huangsheng@kylinos.cn>,
           handsome_feng <jianfengli@ubuntukylin.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               python (>= 2.6.6-3~),
               python-distutils-extra,
Standards-Version: 4.1.2
Homepage: https://github.com/ukui/kylin-display-switch
X-Python-Version: >= 2.7

Package: kylin-display-switch
Architecture: any
Depends: python-qt4,
         gir1.2-glib-2.0,
         python-keybinder,
         python-xlib,
         ${misc:Depends},
         ${python:Depends}
Description: A Gui tool for display switching
 Kylin Display Switch is a Gui tool managing display output.
 Super_L + P/F3/F7 are utilized to activate display switching.
 .
 It also monitors CapsLock and NumLock key, when these
 buttons are clicked, corresponding reminder will popper up.
