Source: kylin-display-switch
Section: utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Uploaders: shine <shenghuang@kylinos.cn>,
           handsome_feng <jianfengli@ubuntukylin.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               python (>= 2.6.6-3~),
               python-distutils-extra,
Standards-Version: 4.1.1
Homepage: https://github.com/ukui/kylin-display-switch
X-Python-Version: >= 2.7

Package: kylin-display-switch
Architecture: any
Depends: python-qt4,
         gir1.2-glib-2.0,
         python-keybinder,
         python-xlib,
         ${misc:Depends},
         ${python:Depends}
Description: Kylin Display Switch
 Kylin Display Switch is a Gui tool for manager display output.
 It's now use Super_L + P/F3/F7 to activate.
