Source: ukui-screensaver
Section: x11
Priority: optional
Maintainer: yanghao <yanghao@kylinos.cn>
Build-Depends: debhelper (>= 11),
	       qtbase5-dev,
           libqt5x11extras5-dev,
	       libpam0g-dev,
	       qttools5-dev-tools,
	       libglib2.0-dev,
	       libx11-dev,
           libxtst-dev
Standards-Version: 4.1.4
Homepage: https://www.github.com/ukui/ukui-screensaver

Package: ukui-screensaver
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends},
        ukui-session-manager | mate-session-manager,
        mate-desktop-common,
        libxtst6
Conflicts: mate-screensaver, mate-screensaver-common
Description: Sreensaver for UKUI desktop environment
 A simple and lightweight screensaver written by Qt5.
 The screensaver supports biometric auhentication which is
 provided by biometric-auth service.
